/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .food_image_thumbnail img {
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  .food_image_thumbnail {
    margin-bottom: 10px;
  }

  .food_image img{
    width: 500px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  .image_home img{
    float: left;
    width: 500px;
    height: auto;
    border: #333;
  }